[submodule "resources"]
	path = resources
	url = https://github.com/fido-alliance/resources
[submodule "testplans/resources"]
	path = testplans/resources
	url = https://github.com/fido-alliance/resources
